<nav class="container navbar navbar-collapse navbar-light navbar-blog">
    <h2 class="nav-item">
        <a href="{{ path('home') }}" class="nav-link pl-0">Личная библиотека</a>
    </h2>
    <div class="navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand row">
        <ul class="navbar-nav fd-row">
            {% if app.user is null %}
                <li class="nav-item ">
                    <a class="nav-link btn btn-success p-0 pl-2 pr-2" style="color: white"
                       href="{{ path('app_login') }}">Войти</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link btn btn-primary mr-2" style="color: white" href="{{ path('book_new') }}">Добавить
                        книгу</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown dropdown-item p-0">
                    <span class="nav-item btn btn-light p-0">
                        <a class="nav-link" style="color: black">{{ app.user.firstName }}</a>
                    </span>
                        <div class="dropdown-content">
                            <a class="text-center p-1">{{ app.user.lastName ~ ' ' ~ app.user.firstName }}</a>
                            <a class="text-center p-1">{{ app.user.email }}</a>
                            <a href="{{ path('book_personal') }}" class="p-1">
                                <button class="btn btn-primary p-0 w-100" type="submit">Мои книги</button>
                            </a>
                            <a href="{{ path('app_logout') }}" class="p-1">
                                <button class="btn btn-danger btn-logout p-0 w-100" type="submit">Выйти</button>
                            </a>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>